# Configuration/Services.yaml
services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: true

  PrototypeIntegration\PrototypeIntegration\:
    resource: '../Classes/*'

  # Do not auto wire constructors of event classes
  PrototypeIntegration\PrototypeIntegration\ContentObject\PtiContentObject:
    tags:
      - name: frontend.contentobject
        identifier: 'PTI'
  PrototypeIntegration\PrototypeIntegration\DataProcessing\Event\ProcessorRunnerRanEvent:
    autowire: false
  PrototypeIntegration\PrototypeIntegration\Processor\Event\MediaProcessorManipulateImageRenderConfigurationEvent:
    autowire: false
  PrototypeIntegration\PrototypeIntegration\Processor\Event\MediaProcessorRenderedEvent:
    autowire: false
  PrototypeIntegration\PrototypeIntegration\Processor\Event\PictureProcessorRenderedEvent:
    autowire: false
  PrototypeIntegration\PrototypeIntegration\View\Event\ExtbaseViewAdapterVariablesConvertedEvent:
    autowire: false

  PrototypeIntegration\PrototypeIntegration\View\ViewAdapter:
    autowire: false
  PrototypeIntegration\PrototypeIntegration\View\TemplateViewAdapter:
    autowire: false
  PrototypeIntegration\PrototypeIntegration\View\ExtbaseViewAdapterContext:
    autowire: false

  PrototypeIntegration\PrototypeIntegration\View\ViewResolverInterface: '@PrototypeIntegration\PrototypeIntegration\View\DefaultViewResolver'